USE [master]
GO
/****** Object:  Database [shopfashe]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE DATABASE [shopfashe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shopfashe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\shopfashe.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'shopfashe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\shopfashe_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shopfashe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shopfashe]
GO
/****** Object:  User [nhat]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE USER [nhat] FOR LOGIN [nhat] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Actions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AnswerComments]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AnswerComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AnswerReviews]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[UserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AnswerReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifileDate] [datetime] NULL,
	[Images] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hibernate_sequence]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hibernate_sequence](
	[next_val] [numeric](19, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuRole]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NULL,
	[ActionName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Class] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifies]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Image] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Notifies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Price] [real] NOT NULL,
	[Quantity] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Created] [datetime] NULL,
	[Status] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[VerifyCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Images] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Sale_Price] [float] NULL,
	[Category_ID] [int] NOT NULL,
	[MoreImages] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifileDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[TopHot] [bit] NOT NULL,
	[Star1] [real] NOT NULL,
	[Star2] [real] NOT NULL,
	[Star3] [real] NOT NULL,
	[Star4] [real] NOT NULL,
	[Star5] [real] NOT NULL,
	[AverageStar] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReviewProducts]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Rate] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ReviewProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleActions]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[EditedDate] [datetime] NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[RessetPasswordCode] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WishLists]    Script Date: 6/29/2020 11:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WishLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([Id], [ActionName], [Description]) VALUES (1, N'VIEW CATEGORY', N'test')
INSERT [dbo].[Actions] ([Id], [ActionName], [Description]) VALUES (2, N'ADD CATEGORY', N'')
INSERT [dbo].[Actions] ([Id], [ActionName], [Description]) VALUES (3, N'EDIT CATEGORY', N'')
SET IDENTITY_INSERT [dbo].[Actions] OFF
SET IDENTITY_INSERT [dbo].[AnswerComments] ON 

INSERT [dbo].[AnswerComments] ([Id], [CommentId], [UserId], [Content], [CreatedDate], [Status]) VALUES (1, 1, 1, N'd', CAST(N'2020-02-10 20:46:28.177' AS DateTime), 1)
INSERT [dbo].[AnswerComments] ([Id], [CommentId], [UserId], [Content], [CreatedDate], [Status]) VALUES (2, 1, 1, N'tếttsttste', CAST(N'2020-02-10 21:27:45.653' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[AnswerComments] OFF
SET IDENTITY_INSERT [dbo].[AnswerReviews] ON 

INSERT [dbo].[AnswerReviews] ([Id], [ReviewId], [UserId], [Content], [CreatedDate], [Status]) VALUES (1, 7, 1, N'oke', CAST(N'2020-02-05 16:39:28.877' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[AnswerReviews] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Status], [CreatedDate], [ModifileDate], [Images]) VALUES (7, N'Quần Áo Nam', N'quan-ao-nam', 1, CAST(N'2019-10-14 15:32:54.743' AS DateTime), CAST(N'2019-12-09 16:03:01.000' AS DateTime), NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Status], [CreatedDate], [ModifileDate], [Images]) VALUES (8, N'Áo Vest Nam', N'ao-vest-nam', 1, CAST(N'2019-10-14 15:33:10.897' AS DateTime), NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [Status], [CreatedDate], [ModifileDate], [Images]) VALUES (9, N'Áo thun', N'ao-thun', 1, CAST(N'2019-10-14 15:34:19.817' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [UserId], [ProductId], [Question], [CreatedDate], [ModifyDate], [Status]) VALUES (1, 1, 497, N'aaaaaaaaa', CAST(N'2020-01-01 00:00:00.000' AS DateTime), CAST(N'2020-02-10 20:43:39.683' AS DateTime), 1)
INSERT [dbo].[Comments] ([Id], [UserId], [ProductId], [Question], [CreatedDate], [ModifyDate], [Status]) VALUES (2, 1, 497, N'tetstst', CAST(N'2010-11-01 00:00:00.000' AS DateTime), CAST(N'2020-02-10 20:46:35.187' AS DateTime), 1)
INSERT [dbo].[Comments] ([Id], [UserId], [ProductId], [Question], [CreatedDate], [ModifyDate], [Status]) VALUES (3, 1, 497, N'ssssssss', CAST(N'2020-02-10 20:46:35.673' AS DateTime), CAST(N'2020-02-10 20:46:35.673' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Comments] OFF
INSERT [dbo].[hibernate_sequence] ([next_val]) VALUES (CAST(1 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[MenuRole] ON 

INSERT [dbo].[MenuRole] ([Id], [MenuId], [RoleId], [ActionName]) VALUES (20, 3, 1, N'VIEW CATEGORY')
INSERT [dbo].[MenuRole] ([Id], [MenuId], [RoleId], [ActionName]) VALUES (21, 1, 1, N'VIEW PRODUCT')
INSERT [dbo].[MenuRole] ([Id], [MenuId], [RoleId], [ActionName]) VALUES (22, 2, 1, N'VIEW ROLE')
SET IDENTITY_INSERT [dbo].[MenuRole] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Text], [DisplayOrder], [Link], [Status], [Class], [ActionName]) VALUES (1, N'Product Management', 1, N'/product', 1, N'nav-icon fas fa-tachometer-alt', N'VIEW PRODUCT')
INSERT [dbo].[Menus] ([Id], [Text], [DisplayOrder], [Link], [Status], [Class], [ActionName]) VALUES (2, N'Role Management', 1, N'/role', 1, N'nav-icon fas fa-th', N'VIEW ROLE')
INSERT [dbo].[Menus] ([Id], [Text], [DisplayOrder], [Link], [Status], [Class], [ActionName]) VALUES (3, N'Category Management', 1, N'/category', 1, N'nav-icon fas fa-copy', N'VIEW CATEGORY')
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Notifies] ON 

INSERT [dbo].[Notifies] ([Id], [UserId], [Content], [CreatedDate], [ModifyDate], [EndDate], [Image], [Link], [Status]) VALUES (1, 1, N'Đơn hàng mã số 14 đã được giao.Bạn có thể đánh giá về sản phẩm', CAST(N'2020-02-10 21:42:13.317' AS DateTime), NULL, NULL, N'/Contents/Uploads/files/b8.jpg', N'/Order/ReViewOrder/cfa6936d-6ced-4021-b35d-af3103d7152b', 1)
INSERT [dbo].[Notifies] ([Id], [UserId], [Content], [CreatedDate], [ModifyDate], [EndDate], [Image], [Link], [Status]) VALUES (2, 1, N'Đơn hàng mã số 15 đã được giao.Bạn có thể đánh giá về sản phẩm', CAST(N'2020-02-10 21:42:19.787' AS DateTime), NULL, NULL, N'/Contents/Uploads/files/b10.jpg', N'/Order/ReViewOrder/850098bc-3954-40fd-9484-a6228737b8ff', 1)
SET IDENTITY_INSERT [dbo].[Notifies] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [ProductId], [OrderId], [Price], [Quantity]) VALUES (14, 497, 13, 200000, 1)
INSERT [dbo].[OrderDetails] ([Id], [ProductId], [OrderId], [Price], [Quantity]) VALUES (15, 498, 14, 20000, 1)
INSERT [dbo].[OrderDetails] ([Id], [ProductId], [OrderId], [Price], [Quantity]) VALUES (16, 500, 14, 5000, 2)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [Name], [Email], [Phone], [Address], [Created], [Status], [Message], [VerifyCode]) VALUES (13, 1, N'34', N'ab83A8438@gmail.com', N'3422442566', N'54545', CAST(N'2020-02-05 16:27:49.000' AS DateTime), 3, NULL, N'')
INSERT [dbo].[Orders] ([Id], [UserId], [Name], [Email], [Phone], [Address], [Created], [Status], [Message], [VerifyCode]) VALUES (14, 1, N'34', N'ab83A8438@gmail.com', N'3422442566', N'54545', CAST(N'2020-02-06 08:47:37.000' AS DateTime), 3, NULL, N'cfa6936d-6ced-4021-b35d-af3103d7152b')
INSERT [dbo].[Orders] ([Id], [UserId], [Name], [Email], [Phone], [Address], [Created], [Status], [Message], [VerifyCode]) VALUES (15, 1, N'34', N'ab83A8438@gmail.com', N'3422442566', N'54545', CAST(N'2020-02-06 08:54:19.000' AS DateTime), 3, NULL, N'850098bc-3954-40fd-9484-a6228737b8ff')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Slug], [Content], [Images], [Price], [Sale_Price], [Category_ID], [MoreImages], [CreatedDate], [ModifileDate], [Status], [TopHot], [Star1], [Star2], [Star3], [Star4], [Star5], [AverageStar]) VALUES (496, N'Áo Vest Nam 2', N'ao-vest-nam-2', N'Quần áo dành cho nam
', N'/Contents/Uploads/files/m9.jpg', 500000, 499999, 8, N'/Contents/Uploads/files/m3.jpg;/Contents/Uploads/files/m5.jpg;', CAST(N'2019-10-14 15:40:18.407' AS DateTime), CAST(N'2019-10-14 16:12:42.733' AS DateTime), 1, 1, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Products] ([Id], [Name], [Slug], [Content], [Images], [Price], [Sale_Price], [Category_ID], [MoreImages], [CreatedDate], [ModifileDate], [Status], [TopHot], [Star1], [Star2], [Star3], [Star4], [Star5], [AverageStar]) VALUES (497, N'Túi sách không quai 1', N'tui-sach-khong-quai-1', N'túi sách dành cho nữ
', N'/Contents/Uploads/files/ok9.jpg', 200000, NULL, 12, N'/Contents/Uploads/files/ok24.jpg;/Contents/Uploads/files/ok6.jpg;', CAST(N'2019-10-14 15:43:35.933' AS DateTime), CAST(N'2019-12-15 19:04:34.080' AS DateTime), 1, 1, 0, 0, 0, 1, 0, 4)
INSERT [dbo].[Products] ([Id], [Name], [Slug], [Content], [Images], [Price], [Sale_Price], [Category_ID], [MoreImages], [CreatedDate], [ModifileDate], [Status], [TopHot], [Star1], [Star2], [Star3], [Star4], [Star5], [AverageStar]) VALUES (498, N'túi sách không quai 2', N'tui-sach-khong-quai-2', N'túi sách dành cho nữ', N'/Contents/Uploads/files/b8.jpg', 324324, 20000, 12, NULL, CAST(N'2019-10-14 15:44:26.140' AS DateTime), CAST(N'2019-12-24 13:31:41.617' AS DateTime), 1, 1, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ReviewProducts] ON 

INSERT [dbo].[ReviewProducts] ([Id], [ProductId], [OrderId], [Rate], [Content], [CreatedDate], [EndDate], [Status], [Image]) VALUES (7, 497, 13, 4, N'565', CAST(N'2020-02-05 16:28:32.440' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ReviewProducts] OFF
SET IDENTITY_INSERT [dbo].[RoleActions] ON 

INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId]) VALUES (96, 1, 1)
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId]) VALUES (97, 1, 2)
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId]) VALUES (98, 1, 3)
SET IDENTITY_INSERT [dbo].[RoleActions] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (1, N'admin', NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (2, N'member', NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (3, N'manager', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [UserName], [Password], [CreatedDate], [EditedDate], [FullName], [Phone], [Email], [Address], [Status], [RessetPasswordCode], [Image], [Gender]) VALUES (1, 1, N'admin', N'c4ca4238a0b92382dcc509a6f75849b', CAST(N'2019-09-20 21:02:41.477' AS DateTime), CAST(N'2019-12-15 19:05:40.967' AS DateTime), N'34', N'3422442566', N'ab83A8438@gmail.com', N'54545', 1, NULL, N'https://firebasestorage.googleapis.com/v0/b/shopdemo-a7f84.appspot.com/o/test%2F1592122871009?alt=media&token=48b621d8-420b-4e57-a2fb-c0218824877d', NULL)
INSERT [dbo].[Users] ([Id], [RoleId], [UserName], [Password], [CreatedDate], [EditedDate], [FullName], [Phone], [Email], [Address], [Status], [RessetPasswordCode], [Image], [Gender]) VALUES (8, 2, N'admin3', N'c4ca4238a0b92382dcc509a6f75849b', CAST(N'2019-09-21 07:32:45.920' AS DateTime), NULL, N'r', N'0967767190', N'1@gmail.com', N'54545', 1, NULL, N'https://firebasestorage.googleapis.com/v0/b/shopdemo-a7f84.appspot.com/o/test%2F1592126380719?alt=media&token=046dea5b-0530-4066-ae99-12c4e380b182', NULL)
INSERT [dbo].[Users] ([Id], [RoleId], [UserName], [Password], [CreatedDate], [EditedDate], [FullName], [Phone], [Email], [Address], [Status], [RessetPasswordCode], [Image], [Gender]) VALUES (10, 2, N'nguyennhat98', N'202cb962ac59075b964b07152d234b70', CAST(N'2019-12-15 20:03:45.150' AS DateTime), NULL, N'nguyennhat98', N'0123843957', N'nguyennhat98@gmail.com', N'Ha Noi', 1, NULL, N'https://firebasestorage.googleapis.com/v0/b/shopdemo-a7f84.appspot.com/o/test%2F1592126371149?alt=media&token=5d5aad50-f2d0-4432-8fd5-091a22c9efb9', N'Nam')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WishLists] ON 

INSERT [dbo].[WishLists] ([Id], [UserID], [ProductID]) VALUES (14, 1, 511)
INSERT [dbo].[WishLists] ([Id], [UserID], [ProductID]) VALUES (40, 1, 500)
INSERT [dbo].[WishLists] ([Id], [UserID], [ProductID]) VALUES (41, 1, 498)
SET IDENTITY_INSERT [dbo].[WishLists] OFF
/****** Object:  Index [IX_CommentId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentId] ON [dbo].[AnswerComments]
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AnswerComments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReviewId] ON [dbo].[AnswerReviews]
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AnswerReviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Comments]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Notifies]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_ID]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_ID] ON [dbo].[Products]
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderId] ON [dbo].[ReviewProducts]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ReviewProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActionId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActionId] ON [dbo].[RoleActions]
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[RoleActions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[WishLists]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 6/29/2020 11:30:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[WishLists]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnswerComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerComments_dbo.Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerComments] CHECK CONSTRAINT [FK_dbo.AnswerComments_dbo.Comments_CommentId]
GO
ALTER TABLE [dbo].[AnswerComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerComments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AnswerComments] CHECK CONSTRAINT [FK_dbo.AnswerComments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[AnswerReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerReviews_dbo.ReviewProducts_ReviewId] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[ReviewProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerReviews] CHECK CONSTRAINT [FK_dbo.AnswerReviews_dbo.ReviewProducts_ReviewId]
GO
ALTER TABLE [dbo].[AnswerReviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnswerReviews_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AnswerReviews] CHECK CONSTRAINT [FK_dbo.AnswerReviews_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[MenuRole]  WITH CHECK ADD FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[MenuRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Notifies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifies_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifies] CHECK CONSTRAINT [FK_dbo.Notifies_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Category_ID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKqrppqypa6xvkqt33rxogpc67] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKqrppqypa6xvkqt33rxogpc67]
GO
ALTER TABLE [dbo].[ReviewProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReviewProducts_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewProducts] CHECK CONSTRAINT [FK_dbo.ReviewProducts_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[ReviewProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReviewProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewProducts] CHECK CONSTRAINT [FK_dbo.ReviewProducts_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[RoleActions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleActions_dbo.Actions_ActionId] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleActions] CHECK CONSTRAINT [FK_dbo.RoleActions_dbo.Actions_ActionId]
GO
ALTER TABLE [dbo].[RoleActions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleActions_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleActions] CHECK CONSTRAINT [FK_dbo.RoleActions_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WishLists_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_dbo.WishLists_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WishLists_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_dbo.WishLists_dbo.Users_UserID]
GO
USE [master]
GO
